.CardImage{
    height: 9rem;
}
.card{

    padding: 10px;
    background: url(../../../Assets/bg2.jpg);
    margin-top: 10px;

    
}
.card:hover{
    border-color: rgb(124, 95, 95);
    box-shadow: 2px 4px 0;
}