.app-container {
    border-radius: 8px;
    border: 2px solid beige;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../../../Assets/bg3.jpg);
    flex-wrap: wrap;
    gap: 15px;
}

.todo-box {
    padding: 30px;
    border: 2px solid beige;
    background-color: rgb(156, 129, 78);
    outline: 2px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;



}

body {
    background-color: rgba(231, 184, 113, 0.753);

}

input {
    border: 5px;
    border-radius: 8px;
    min-width: 31px;
    min-height: 31x;

}

h3 {
    font-family: 'Times New Roman', Times, serif;
}